@using Microsoft.AspNetCore.Components
@using Migration.Repository.Models
@inherits MigrationAdmin.CustomComponents

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"><DocumentationComponent DocumentationPath="QueriesConditions.md"></DocumentationComponent> Configure the Fields you want to merge the value based on Condition</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Condition</label>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Direction</th>
                                <th>Operator Type</th>
                                <th>Conditions</th>
                                <th>
                                    <button class="btn btn-default" @onclick="() => AddCondition(DataFieldsMapping.Conditions)">+</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sourceCondition in DataFieldsMapping.Conditions)
                            {
                                <tr>
                                    <td>
                                        @if (sourceCondition.ConditionDirection != null)
                                        {
                                            <select class="form-control" id="fieldType" data-keeper-edited="yes" @bind="@sourceCondition.ConditionDirection">
                                                @foreach (var directionType in Enum.GetValues<MappingDirectionType>())
                                                {
                                                    <option value="@directionType">@directionType</option>
                                                }
                                            </select>
                                        }
                                    </td>
                                    <td>
                                        @if (sourceCondition.Type != null)
                                        {
                                            <select class="form-control" id="fieldType" data-keeper-edited="yes" @bind="@sourceCondition.Type">
                                                @foreach (var fieldType in Enum.GetValues<SearchConditionType>())
                                                {
                                                    <option value="@fieldType">@fieldType</option>
                                                }
                                            </select>
                                        }
                                    </td>
                                    <td>
                                        <input class="form-control" id="command" data-keeper-edited="yes" @bind="@sourceCondition.Query" />
                                    </td>
                                    <td>
                                        @if (sourceCondition.Type != null)
                                        {
                                            <button class="btn btn-default" @onclick="() => RemoveCondition(DataFieldsMapping.Conditions, sourceCondition)">-</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Field Type</label>]
                    <select class="form-control" id="fieldType" data-keeper-edited="yes" @bind="@DataFieldsMapping.ValueType">
                        @foreach (var valueType in Enum.GetValues<FieldValueType>())
                        {
                            <option value="@valueType">@valueType</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>[@DataFieldsMapping.DestinationEntity]</label>[Field]
                    <input class="form-control" data-keeper-edited="yes" @bind="DataFieldsMapping.DestinationField" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Value</label>
                    <input class="form-control" data-keeper-edited="yes" @bind="DataFieldsMapping.ValueField" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-default" @onclick="async () => await AddDataFieldsMapping(DataFieldsMapping, MappingType.UpdateValueWithCondition)">Add</button>
    </div>
</div>