@using Migration.Repository.DbOperations

<table id="dataManagement" class="table">
    <thead>
        <tr>
            <th>Field Type</th>
            <th>Field (Including the Path for Objects and Array)</th>
            <th>Value</th>
            <th>
                <button class="btn btn-success" @onclick="() => AddCommand()">+</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var command in CommandsModel)
        {
            <tr>
                <td>
                    <select class="form-control" id="fieldType" data-keeper-edited="yes" @bind="@command.Type">
                        @foreach (var fieldType in FieldsTypes)
                        {
                            <option value="@fieldType">@fieldType</option>
                        }
                    </select>
                </td>
                <td>
                    <input class="form-control" id="command" data-keeper-edited="yes" @bind="@command.Field" />
                </td>
                <td>
                    <input class="form-control" id="command" data-keeper-edited="yes" @bind="@command.Value" />
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="() => RemoveCommand(command)">-</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@code {
  

    [Parameter]
    public List<CommandModel> CommandsModel { get; set; }

    private string  _query;

    public void AddCommand()
    {
        CommandsModel.Add(new CommandModel());
    }

    private void RemoveCommand(CommandModel command)
    {
        CommandsModel.Remove(command);
    }

    public List<string> FieldsTypes { get; set; } = new()
    {
        "Select an option",
        "String",
        "Integer",
        "Boolean",
        "Guid",
        "DateTime"
    };
}
