@using Migration.Repository
@using Migration.Repository.Models
@using Migration.Infrastructure.Redis.Entities
@using Migration.Infrastructure.Redis
@inject IJSRuntime jsRuntime
@inject IRepository<DataSettings> _redis;

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"><DocumentationComponent DocumentationPath="DataMapping.md"></DocumentationComponent> Select the profile type </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body" style="display: block;">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Select what type of mapping do you want to apply</label>
                    <select class="form-control" data-keeper-edited="yes" value="@DataMapping.DataQueryMappingType" @onchange="ChangeDataQueryMappingType">
                        @foreach (var type in _dataQueryMappingType)
                        {
                            <option value="@type.Value">@type.Key</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <label>Operation Type</label>
                <select class="form-control" data-keeper-edited="yes" value="@DataMapping.OperationType" @onchange="ChangeOperationType">
                    @foreach (var operationType in Enum.GetValues<OperationType>())
                    {
                        <option value="@operationType">@operationType</option>
                    }
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (DataMapping.DataQueryMappingType == DataQueryMappingType.UpdateAnotherCollection)
                {
                    <DatabaseSelectorComponent Title="Select the source"
                                               ConnectionStrings="DataSettings?.ToDictionary(kvp => kvp.FullName, kvp => kvp.FullName)"
                                               DataSettings="DataMapping.Source.Settings"
                                               OnDbSettingsChanged="(sourceDbSettings) => AddSourceDbSettings(sourceDbSettings)"
                                               Query="@DataMapping.Source.Query"
                                               OnQueryAdded="async (query) => await AddSourceQuery(query)"
                                               DisplayQuery="true">
                    </DatabaseSelectorComponent>
                    <DatabaseSelectorComponent Title="Select the destination"
                                               ConnectionStrings="DataSettings?.ToDictionary(kvp => kvp.FullName, kvp => kvp.FullName)"
                                               DataSettings="DataMapping.Destination.Settings"
                                               OnDbSettingsChanged="(sourceDbSettings) => AddDestinationDbSettings(sourceDbSettings)"
                                               Query="@DataMapping.Destination.Query"
                                               OnQueryAdded="async (query) => await AddDestinationQuery(query)"
                                               DisplayQuery="DisplayQuery()"
                                               TypeOfOperation="@DataMapping.OperationType">
                    </DatabaseSelectorComponent>

                }
                else
                {
                    <DatabaseSelectorComponent Title="Select data"
                                               ConnectionStrings="DataSettings?.ToDictionary(kvp => kvp.FullName, kvp => kvp.FullName)"
                                               DataSettings="DataMapping.Source.Settings"
                                               OnDbSettingsChanged="(sourceDbSettings) => AddSourceDbSettings(sourceDbSettings)"
                                               Query="@DataMapping.Source.Query"
                                               OnQueryAdded="async (query) => await AddSourceQuery(query)"
                                               DisplayQuery="true"
                                               TypeOfOperation="@DataMapping.OperationType">
                    </DatabaseSelectorComponent>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<DataQueryMappingType> DataQueryMappingTypeChangedCallback { get; set; }

    [Parameter]
    public DataQueryMappingType DataQueryType { get; set; }

    [Parameter]
    public DataMapping DataMapping { get; set; }

    [Parameter]
    public IEnumerable<DataSettings> DataSettings { get; set; }

    [Parameter]
    public Action<DataMapping> WhenNewConnectIsAdded { get; set; }


    private Dictionary<string, DataQueryMappingType> _dataQueryMappingType = new()
    {
    {"Update the same collection", DataQueryMappingType.UpdateSameCollection},
    {"Update another collection", DataQueryMappingType.UpdateAnotherCollection}
    };
    
    protected override async Task OnInitializedAsync()
    {
        var redisData = await _redis.FindAsync();

        if (!redisData.Any())
            return;

        DataSettings = redisData;

        // if (DataMapping.Source.Settings == null)
        // {
        //     DataMapping.Source.Settings = DataSettings.FirstOrDefault();
        //     DataMapping.Source.Settings.CurrentEntity = DataMapping.Source.Settings.Entities.FirstOrDefault();
        // }
        
        // if (DataMapping.Destination.Settings == null)
        // {
        //     DataMapping.Destination.Settings = DataSettings.FirstOrDefault();
        //     DataMapping.Destination.Settings.CurrentEntity = DataMapping.Destination.Settings.Entities.FirstOrDefault();
        // }
    }

    public async Task ChangeDataQueryMappingType(ChangeEventArgs e)
    {
        if (e.Value == null) return;

        if (Enum.TryParse<DataQueryMappingType>(e.Value.ToString(), out var value))
            DataQueryType = value;

        DataMapping.DataQueryMappingType = DataQueryType;

        await DataQueryMappingTypeChangedCallback.InvokeAsync(DataQueryType);
    }

    private void ChangeOperationType(ChangeEventArgs e)
    {
        DataMapping.OperationType = Enum.Parse<OperationType>(e.Value.ToString());
    }

    private void AddSourceDbSettings(DataSettings sourceSettings)
    {
        if (DataMapping.Source == null) DataMapping.Source = new();

        DataMapping.Source.Settings = sourceSettings;
    }

    private void AddDestinationDbSettings(DataSettings destinationSettings)
    {
        if (DataMapping.Destination == null) DataMapping.Destination = new();

        DataMapping.Destination.Settings = destinationSettings;
    }

    private async Task AddSourceQuery(string query)
    {
        await ShowSuccessAlert("Source Query added");

        if (DataMapping.Source == null) DataMapping.Source = new();

        DataMapping.Source.Query = query;
    }

    private async Task AddDestinationQuery(string query)
    {
        await ShowSuccessAlert("Destination Query added");

        if (DataMapping.Destination == null) DataMapping.Destination = new();

        DataMapping.Destination.Query = query;
    }

    private async Task ShowSuccessAlert(string message)
    {
        await jsRuntime.InvokeAsync<object>("ShowSuccessAlert", message);
    }

    private async Task ShowErrorAlert(string message)
    {
        await jsRuntime.InvokeAsync<object>("ShowErrorAlert", message);
    }

    private bool DisplayQuery() => DataMapping.OperationType != OperationType.Import;
    private bool IsImport() => DataMapping.OperationType == OperationType.Import;

}