@page "/jobs"
@using Newtonsoft.Json.Linq
@using Migration.Infrastructure.Redis
@using Migration.Infrastructure.Redis.Entities
@using Migration.Repository.LogModels
@using Newtonsoft.Json
@inherits CustomComponents;
@inject IRepository<JObject> _repository;
<div class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Jobs</h3>
            </div>
            <div class="card-body">
                <table id="jobs" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Job Id</th>
                            <th>Profile</th>
                            <th>Operation Type</th>
                            <th>Source Pagination (Skip)</th>
                            <th>Destination Pagination (Skip)</th>
                            <th>
                                Status
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (_jobs != null)
                        {
                            foreach (var job in _jobs)
                            {
                                <tr>
                                    <td>
                                        @job.SelectToken("JobId")
                                    </td>
                                    <td>
                                        @job.SelectToken("ProfileId")
                                    </td>
                                    <td>
                                        @job.SelectToken("OperationType")
                                    </td>
                                    <td>
                                        @job.SelectToken("SourceProcessed")
                                    </td>
                                    <td>
                                        @job.SelectToken("DestinationProcessed")
                                    </td>
                                    <td>
                                        @job.SelectToken("Status")
                                    </td>
                                    <td>
                                        <button class="btn btn-default" @onclick="() => GetLog(job)"> <i class="nav-icon fas fa-file-archive"></i> Log</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <Log LogResult="LogResult" IsLoading="Loading"></Log>
    </div>
</div>
@code {
    private List<JObject> _jobs;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _jobs = await _repository.FindAsync(new RedisData<JObject>()
                {
                    Id = "Jobs"
                });
        }
        catch
        {
        }
    }

    private async Task GetLog(JObject job)
    {
        var jobId = job.SelectToken("JobId");

        var logs = await _repository.FindAsync(new RedisData<JObject>()
            {
                Id = "Log$" + jobId + "$"
            });

        LogResult = JsonConvert.DeserializeObject<LogResult>(logs.FirstOrDefault().ToString());
    }

}