@page "/profileConfiguration"
@using MigrationAdmin.Models
@using Migration.Repository.Models
@using Migration.Services
@using Migration.Services.Models
@using Migration.Services.Helpers
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits CustomComponents;
@inject IJSRuntime jsRuntime
@inject IQueryService _queryService;
<div class="card card-default card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link @GetStep("active", 1)" id="custom-tabs-one-database-tab" role="tab" aria-controls="custom-tabs-one-database" aria-selected="true"><i class="nav-icon fas fa-database"></i> Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  @GetStep("active", 2)" id="custom-tabs-one-sourceData-tab" role="tab" aria-controls="custom-tabs-one-sourceData" aria-selected="false"><i class="nav-icon fas fa-query"></i> Queries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  @GetStep("active", 3)" id="custom-tabs-one-mapping-tab" role="tab" aria-controls="custom-tabs-one-mapping" aria-selected="false"><i class="nav-icon fas fa-map"></i> Mapping</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  @GetStep("active", 4)" id="custom-tabs-one-preview-tab" role="tab" aria-controls="custom-tabs-one-preview" aria-selected="false"><i class="nav-icon fas fa-list"></i> Summary</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade  @GetStep("show active", 1)" id="custom-tabs-one-database" role="tabpanel" aria-labelledby="custom-tabs-one-database-tab">
                <ConnectionConfigurationComponent>
                </ConnectionConfigurationComponent>
            </div>

            <div class="tab-pane fade @GetStep("show active", 2)" id="custom-tabs-one-sourceData" role="tabpanel" aria-labelledby="custom-tabs-one-sourceData-tab">
                <DataQueryComponent DataMapping="Profile.DataMappings[0]"
                                    DataQueryMappingTypeChangedCallback="(dataType) => _dataQueryType = dataType"></DataQueryComponent>
            </div>

            <div class="tab-pane fade @GetStep("show active", 3)" id="custom-tabs-one-mapping" role="tabpanel" aria-labelledby="custom-tabs-one-mapping-tab">
                @if (_dataQueryType == DataQueryMappingType.UpdateAnotherCollection)
                {
                    <DataMappingDestinationComponent DataMapping="Profile.DataMappings[0]"
                                                     OnDataMappingChanged="(mappingResult) => _ = mappingResult"></DataMappingDestinationComponent>
                }
                else
                {
                    <DataMappingSameTableComponent CommandsModel="Profile.DataMappings[0].Commands"></DataMappingSameTableComponent>
                }
            </div>
            <div class="tab-pane fade @GetStep("show active", 4)" id="custom-tabs-one-preview" role="tabpanel" aria-labelledby="custom-tabs-one-preview-tab">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Fields to Update</h3>
                    </div>
                    <div class="card-body">
                        @if (_resultDataFromConfiguration != null)
                        {
                            foreach (var data in _resultDataFromConfiguration)
                            {
                                <div class="row">
                                    <div class="col-sm-1">
                                        <button class="btn btn-default" @onclick="() => CompareChanges(data.Key)"> <i class="nav-icon fas fa-check-circle"></i> Compare Changes</button>
                                    </div>
                                    <div class="col-sm-11">
                                        <div class="card collapsed-card">
                                            <div class="card-header">
                                                <h3 class="card-title"> @data.Key.Split(":").LastOrDefault()</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                @foreach (var values in data.Value)
                                                {
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="card collapsed-card">
                                                                <div class="card-header">
                                                                    <h3 class="card-title"> @values.Entity</h3>
                                                                    <div class="card-tools">
                                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                                                            <i class="fas fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            @values.DataType
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            <pre>
                                                                                @JValue.Parse(values.Data).ToString(Formatting.Indented) </pre>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            @if (_step > 1)
            {
                <div class="col-sm-1">
                    <button class="btn btn-default" @onclick="() => Previous()"><i class="nav-icon fas fa-step-backward"></i> Previous</button>
                </div>
            }

            @if (_step < 3)
            {
                <div class="col-sm-1">
                    <button class="btn btn-default" @onclick="() => Next()"> <i class="nav-icon fas fa-step-forward"></i> Next</button>
                </div>
            }
            else if (_step < 4)
            {
                <div class="col-sm-1">
                    <button class="btn btn-default" @onclick="() => PreviewDataResult()"> <i class="nav-icon fas fa-forward"></i> Next</button>
                </div>
            }
            else
            {
                <div class="col-sm-1">
                    <button class="btn btn-default" @onclick="() => SaveFile()"> <i class="nav-icon fas fa-save"></i> Save Profile</button>
                </div>
            }
        </div>
    </div>
</div>


@if (Loading)
{
    <div class="col-sm-12">
        <Loading />
    </div>
}


@if (ShowModalSaveFiles)
{
    <SaveFileConfirmationComponent Data="Profile"
                                   Folder="Profiles"
                                   ModalTitle="Save / Edit the Profile"
                                   TypeOfFile="Profile"
                                   OnConfirmation="() => FileSaved()">
    </SaveFileConfirmationComponent>
}

@if (_showModalDataDifference)
{
    <DataDifferenceModal ShowModalScroll="true"
                         Id="RecordId"
                         ModalOk="ModalOk" DataDifferences="@DataDifference"
                         IsLoading="Loading"></DataDifferenceModal>
}

@code {

    private bool _showModalDataDifference;

    private int _step = 1;

    private DataQueryMappingType _dataQueryType { get; set; }

    public Profile Profile { get; set; } = new();

    private Dictionary<string, List<DynamicData>> _resultDataFromConfiguration;

    private string _message;

    protected override async Task OnInitializedAsync()
    {
        Profile.DataMappings.Add(new DataMapping()
            {
                Id = 1,
                FieldsMapping = new()
    {
    new ()
    }
            });
    }

    public async Task PreviewDataResult()
    {
        _step++;
        Loading = true;

        try
        {
            _resultDataFromConfiguration = await _queryService.Get(Profile.DataMappings[0], take: 10); //TODO: DataMappings[0] will be a list in the future
        }
        catch (Exception e)
        {
            await ShowErrorAlert(e.Message);
        }

        Loading = false;
    }

    public async Task CompareChanges(string key)
    {
        _showModalDataDifference = true;

        Loading = true;

        try
        {
            DataDifference = new();

            foreach (var data in _resultDataFromConfiguration.Where(w => w.Key == key))
            {
                var differences = DifferencesMultipleDestinationsHelper.FindDifferences(Profile.DataMappings, data.Value);

                if (differences.Any())
                {
                    DataDifference = ConcatMethod(DataDifference, differences);
                }
            }
        }
        catch (Exception e)
        {
            await ShowErrorAlert(e.Message);
        }

        Loading = false;
    }

    public Dictionary<TKey, TValue> ConcatMethod<TKey, TValue>(params Dictionary<TKey, TValue>[] dictionaries)
    {
        var mergedDictionary = dictionaries.Aggregate((dict1, dict2) =>
        dict1.Concat(dict2).ToDictionary(kvp => kvp.Key, kvp => kvp.Value));
        return mergedDictionary;
    }

    private async Task FileLoad(string json)
    {
        if (string.IsNullOrEmpty(json)) return;

        Profile = JsonConvert.DeserializeObject<Profile>(json);

        await InvokeAsync(StateHasChanged);
    }

    public void ModalOk()
    {
        _showModalDataDifference = false;
    }


    public async Task ShowErrorAlert(string message)
    {
        await jsRuntime.InvokeAsync<object>("ShowErrorAlert", message);
    }

    private string GetStep(string showActive, int step)
    {
        if (_step == step)
            return showActive;

        return string.Empty;
    }

    private void Previous()
    {
        _step--;
    }

    private void Next()
    {
        _step++;
    }
}
